* {
  box-sizing: border-box;
  font-family: sans-serif;
}

html, body, #root {
  padding: 0;
  margin: 0;
  height: 100%;
}

.row {
  margin: 0 0 0 1.5rem;
}

.container {
  background-image: url("/ClickyGame/client/public/images/HP.jpg");
}
